/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5
**  Dateiversion: 04.07.06  
**  Datei       : content.css
**  Funktion    : Formatierung der Inhalte (Texte, Grafiken, Links, Listen, Tabellen usw.)
**
*/
/*
**	hier alle Farben zum rauskopieren: 
**	lightgreen: F2F8D2
** Beige: #E4DEB8
** Grün: #B1CD49
**	blue:  336
*/
@media all
{
/* ######################################################################################################
** # Standard-Vorgaben ##################################################################################
** ######################################################################################################
*/ 


body { 
	color: #333; 
	font-size: 12px;
	line-height: 22px;
	font-family: Verdana, Helvetica, Arial, sans-serif; 
	padding-left:50px;
	margin-bottom: 50px;
/*	background-image: url(../images/gumball1.jpg);*/
	background-position: top right;
	background-repeat: no-repeat;
}

h1,h2,h3,h4 { font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; font-weight:normal;}
ul,dd,dt { line-height: 14pt; margin: 0 0 1em 0; }
strong,b { font-weight: bold; }
em,i { font-style:italic; }

.green{
	color: #AC0;
}
/* ### Überschriften ###################################################################### */
h1 {font-size: 14px; padding-top: 18px; padding-bottom: 18px; line-height: 18px; color: #336; font-weight:bold; max-width: 500px;}
h2 {font-size: 18px; padding-top: 18px; line-height: 18px; color: #f05; font-family:Helvetica, Arial, sans-serif;}
h3 {font-size: 11px; line-height: 18px; color: #336; font-weight:bold; max-width: 500px;}
h4 {font-size: 11px; line-height: 18px; color: #B4CC4A; font-weight:bold; max-width: 500px;}
h5 {font-size: 9px; color: #336; font-weight:normal; padding-bottom: 18px; max-width: 500px;}
p, li  {max-width: 600px; padding-top:10px; line-height:20px;}
span.greenbox{font-size: 11px; font-weight: bold; line-height: 15px; padding: 5px 10px 5px 10px; display:block;  color: #FFF; background:#B4CC4A; }
#col3_content LI{
	padding-left: 15px;
	padding-bottom: 9px;
	list-style-image: url("../img/bullet3.gif");
}

/* ### Auszeichnung lokaler und Externer Links ######################################################## */
a, a em.file {color: #f05;}
a:hover { text-decoration: underline;}

/* Icon vor Externen Links
#main a[href^="http:"], #main a[href^="https:"]
{
	padding-left: 12px;
	background-image: url('../../img/icons/ext_link.gif');
	background-repeat: no-repeat;
	background-position: left;
}
*/

img {
	margin: 5 0 5 60;
	border: 1px solid #ccc;
}

img.socialbkmark {
	margin: 4 8 4 0;
	width: 16px;
	vertical-align: middle;
}

#sidebar {
	float: right;
	text-align: right;
	margin-bottom: 50px;
	width: 400px;
}

#main a.imagelink {
	padding-left: 0;
	background: transparent;
}

#title {
	font-size: 72px;
	font-family:Helvetica, Arial, sans-serif;
	padding-top: 20px;
}

#subtitle {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 60px;
}

#footer {
	font-size: 14px;
	color: #777;
	float: center;
}

#navi{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px; 
	color: #444;
	padding-top:10px;
}
#naviimg{
	padding: 0px;
	text-indent: 0em;
}
#navi a{
/*	background:#ccc;*/
/*	color: #f05;*/
}
#navi a:hover{
	text-decoration: none;
	color: #FFF;
}

#content {
	padding-top:35px;
}




/* Formatierung der Fuﬂzeile */
#footer {margin-top: 18px; border: 1px solid #E4DEB8; border-left: 0px; border-right: 0px;}
#footer p{display: block; color:#336; font-size: 9px; padding: 0px; max-width: 500px; }
#footer a{
	color: #336; 
	font-weight: normal; 
	text-decoration:none;
}

#footer a:hover{
	color: #336;
	text-decoration:underline;
}
}
