/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5
**  Dateiversion: 18.06.06  
**  Datei       : print_003.css
**  Funktion    : Druck-Stylesheet - druckt die Spalte #col3
**
*/

@media print
{
body { 
	color: #000; 
	font-size: 11pt;
	line-height: 15pt;
	font-family: Verdana, Helvetica, Arial, sans-serif; 
}

h1,h2,h3,h4 { font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; font-weight:normal;}
ul,dd,dt { line-height: 14pt; margin: 0 0 1em 0; }
strong,b { font-weight: bold; }
em,i { font-style:italic; }

.green{
	color: #AC0;
}
/* ### †berschriften ###################################################################### */
h1 {font-size: 14pt; padding-top: 18pt; padding-bottom: 18pt; line-height: 18pt; color: #336; font-weight:bold; max-width: 15cm;}
h2 {font-size: 14pt; padding-top: 18pt; padding-bottom: 18pt; line-height: 18pt; color: #B4CC4A; font-weight:bold; max-width: 15cm;}
h3 {font-size: 10pt; line-height: 18pt; color: #336; font-weight:bold; max-width: 15cm;}
h4 {font-size: 10pt; line-height: 18pt; color: #B4CC4A; font-weight:bold; max-width: 15cm;}
h5 {font-size: 9pt; color: #336; font-weight:bold; padding-top: 14pt; max-width: 15cm;}
p  {font-size: 10pt; line-height: 15pt; padding-bottom: 18pt; max-width: 15cm;}

span.greenbox{font-size: 11px; line-height: 15px; padding: 5px 10px 5px 10px; color: #FFF; background:#B4CC4A; }
ul{
	list-style-image: url("../img/bullet3.gif");
	font-size: 10pt;
	padding-left: 15px;
	padding-bottom: 18px
}


/* Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
h1,h2,h3 { page-break-after:avoid; }

abbr[title]:after, acronym[title]:after { content: '(' attr(title) ')'; }

/* Sichtbare Auszeichnung der URLs von Links */
#col3 a[href^="http:"], #col3 a[href^="https:"], 
#col1 p a[href^="http:"], #col1 p a[href^="https:"],
#col2 p a[href^="http:"], #col2 p a[href^="https:"]
{
	padding-left: 0;
	background-image: none;
}

#col3 a[href]:after {
 content:" ("attr(href)")";
 color:#336;
 background-color:inherit;
} 

/* Umformatierung der Layoutboxen */

body {margin:0; padding: 0;}
#page_margins, #page {min-width: inherit; margin:0; padding: 0; border: 0; } 

#header1 {display:none;}
#header2 {display:none;}

#logo {position:absolute; top: 0cm; left: 13cm; z-index: 10; width: 4cm;}

#main {margin: 0; padding: 0;}

#col1 {display:none;}
#col1_content {display:none;}

#col2 {display:none;}
#col2_content {display:none;}

#col3 { margin:0; padding: 0; border:0; }
#col3_content {margin:0; padding: 0; border:0; }

#footer {display: none;}

}
